html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30px;
}

#push, 
#footer {
  height: 30px;
}
#footer {
  padding-top: 6px;
  background-color: #eee;
}

.navbar-nav{
  font: bold 130% serif;
}

@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}
