.search-button {
  width: 100px;
}

.search-form {
  margin-bottom: 100px;
}

.found-result {
  margin-bottom: 20px;

  .name, .title {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .description {

  }

  .address {
    margin-bottom: 5px;
  }
}
