%h1 Search Page

= form_tag('/search', method: 'get') do
  .form-inputs
    = text_field_tag(:q)
  .form-actions
    = submit_tag('Search')

%h1 Results

- if @search
  - binding.pry
  - @search.each do |query|
    - query.results.each do |res|
      %p
        = res.name
- else
  %h2 Nothing was found.
