%h3 Add new exhibits
= simple_form_for exhibition, url: url_for(action: 'add_exhibit', controller: 'exhibitions'), method: 'post' do |f|
  = f.error_notification
  .form-inputs
    = f.association :exhibits, collection: exhibition.available_exhibits, input_html: { multiple: false }
  .form-actions
    = f.button :submit
