.row.exhibition-search-form.col-xs-offset-7
  = render partial: 'exhibitions/search_form'

.text-center
  %h3
    Exhibitions list
  .exhibitions
    = render partial: 'exhibitions/exhibitions', locals: {exhibitions: @exhibitions}
  .paginator
    = paginate @exhibitions





