.table-responsive
  %table.table
    %tbody
      - exhibits.each do |exhibit|
        %tr
          %td
            =link_to exhibit.name, exhibit_path(exhibit)
          %td
            = exhibit.updated_at
