/* 
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker
 *= require pagedown_bootstrap
 *= require select2
 *= require_tree .
 */


@import 'bootstrap';
@import 'bootstrap-datepicker';

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info
}


body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}
.navbar-default {
  background-color: #1E8CBE;
}

.navbar-nav > li > a {
  color: #FFFFFF !important;
  font-weight: bold;
}

.navbar-nav > li > a:hover {
  color: #222222 !important;
}

.navbar-brand {
  color: #FFFFFF !important;
   font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
 }

.modal-dialog {
  width: 95%;
  height:90%;
}
h4.lastimage{
  text-align: center;
}
.col-sm-3 > img {
  margin: 6px 0px;
}
.border_uploads{
  border-right: 1px solid #e5e5e5;
  height:100%;
}
.border_image{
  border-right: 1px solid #e5e5e5;
  height:100%;
}

.icon-picture {
background-position: -456px -48px !important  ;
}
.icon-bold {
background-position: -167px -48px !important;
}
.icon-italic {
background-position: -192px -48px !important;
}
.icon-list {
background-position: -72px 0  !important;
}
.icon-share-alt {
background-position: -336px -96px !important;
}
#wmd-link-button{
 display:none;
}

[class^="icon-"], [class*=" icon-"] {
display: inline-block;
width: 14px;
height: 14px;
line-height: 14px;
vertical-align: text-top;
background-image: url("http://localhost:3000/uploads/markdown_image/glyphicons-halflings.png");
background-position: 14px 14px;
background-repeat: no-repeat;
}
