.container.text-center
  %h1.pull-left #{@tag.name} exhibits
  .btn-group.pull-right
    %a.btn.btn-primary{href: tag_path, role: "button"} Blocks
    %a.btn.btn-primary{href: list_tag_path, role: "button"} List
    %a.btn.btn-primary{href: timeline_tag_path, role: "button"} Timeline
  .clearfix
  %hr
  #time_line
:javascript
  $(document).ready(function() {
    createStoryJS({
      type: 'timeline',
      width: '100%',
      height: window.innerHeight-230,
      source: '../#{@tag.id}.json',
      embed_id: 'time_line'
    });
  });
