.row
  .col-xs-2
    %img{:height =>"200px", :width => "165px"}(src="http://www.bootstraptutorials.com/wp-content/uploads/2013/01/Dropbox-Twitter-Bootstrap-Tutorial.png")
  .col-xs-2
    %img{:height =>"200px", :width => "165px"}(src="http://www.bootstraptutorials.com/wp-content/uploads/2013/01/Dropbox-Twitter-Bootstrap-Tutorial.png")
  .col-xs-4
    %img{:width =>"100%"}(src="http://www.bootstraptutorials.com/wp-content/uploads/2013/01/Dropbox-Twitter-Bootstrap-Tutorial.png")
  .col-xs-4
    %img{:width =>"100%"}(src="http://www.bootstraptutorials.com/wp-content/uploads/2013/01/Dropbox-Twitter-Bootstrap-Tutorial.png")
%br
.row
  .col-xs-2
    %img{:height =>"200px", :width => "165px"}(src="http://www.bootstraptutorials.com/wp-content/uploads/2013/01/Dropbox-Twitter-Bootstrap-Tutorial.png")
  .col-xs-2
    %img{:height =>"200px", :width => "165px"}(src="http://www.bootstraptutorials.com/wp-content/uploads/2013/01/Dropbox-Twitter-Bootstrap-Tutorial.png")
  .col-xs-4
    %img{:width =>"100%"}(src="http://www.bootstraptutorials.com/wp-content/uploads/2013/01/Dropbox-Twitter-Bootstrap-Tutorial.png")
  .col-xs-4
    %img{:width =>"100%"}(src="http://www.bootstraptutorials.com/wp-content/uploads/2013/01/Dropbox-Twitter-Bootstrap-Tutorial.png")
%br
.row
  .col-xs-4
    %img{:width =>"100%"}(src="http://www.bootstraptutorials.com/wp-content/uploads/2013/01/Dropbox-Twitter-Bootstrap-Tutorial.png")
  .col-xs-4
    %img{:width =>"100%"}(src="http://www.bootstraptutorials.com/wp-content/uploads/2013/01/Dropbox-Twitter-Bootstrap-Tutorial.png")
  .col-xs-2
    %img{:height =>"200px", :width => "165px"}(src="http://www.bootstraptutorials.com/wp-content/uploads/2013/01/Dropbox-Twitter-Bootstrap-Tutorial.png")
  .col-xs-2
    %img{:height =>"200px", :width => "165px"}(src="http://www.bootstraptutorials.com/wp-content/uploads/2013/01/Dropbox-Twitter-Bootstrap-Tutorial.png")
%br
