// Place all the styles related to the admin_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn > a{
  color: white;
}

.btn > a:hover{
  color: white;
  text-decoration:none;
}

.item-el{
  background-color: #e2e2e2;
  margin: 5px 0;
  padding: 5px 0;
  border-radius: 5px;
}

.item-name > a{
  color: black;
  font: bold italic 180% serif;
  text-decoration:none;
}

.item-change{
  margin-top: 10px;
  font: italic 90% serif;
}


